[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/test-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    https://raw.github.com/plone/plone.app.robotframework/master/versions.cfg
    https://raw.githubusercontent.com/propertyshelf/buildout.plone/master/common.cfg

versions = versions
package-name = customer.krainrealestate
package-extras = [test]
eggs +=
    Products.PrintingMailHost
    plone.mls.core
    plone.mls.listing
    ps.plone.mls

test-eggs +=
    Pillow

parts +=
    createcoverage
    i18ndude
    node
    omelette
    rebuild_docs-sh
    rebuild_i18n-sh
    releaser
    sphinxbuilder
    zptlint

extensions +=
    mr.developer

sources-dir = checkouts
auto-checkout = *


[code-analysis]
directory = ${buildout:directory}/src/customer


[omelette]
recipe = collective.recipe.omelette
eggs =  ${instance:eggs}


[sources]
plone.mls.core = git git://github.com/propertyshelf/plone.mls.core.git
plone.mls.listing = git git://github.com/propertyshelf/plone.mls.listing.git


[versions]
setuptools =
zc.buildout =
